.item{
    width: 200px;
    height: 200px;
    background-color: pink;
}

#item2{
    width: 500px;
    height: 500px;
    background-color: black;
}

.item{
    width: 100px;
    height: 100px;
    background-color: green;
}


div{
    width: 300px;
    height: 400px;
    border: blueviolet 5px solid;
}